:root
{
/* --ThemeHEX: #20C997; */
--ThemeRGB: rgba(032, 201, 151, 1);

--ThemeHEX: #035F6B;


--textsHEX: #2F3336;
--textsRGB: rgba(47, 51, 54, 1);
--Borde: rgba(0, 0, 0, 0.175);



--theme: #20C997;
--texts: #303030;
--color: #DCDCDC;
--lines: #DEE2E6;


--search: #DEE2E6; /* Search-Bar border */


--previoussearch: #383838;

}

@font-face
{
font-family: NativeUL;
src: url(./Ubuntu/Ubuntu-Light.ttf);
}

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: NativeUL;
}

body
{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

#cloacking {display: none;}

#sheleves
{
top: 200px;
width: 100%;
display: grid;
position: fixed;
z-index: 1;
}