/* δ Delta components [Steptronic.js] */

:root {
/* Sky Magenta */
--theme: #20C997;
--texty: #303030;
--white: #ffffff;
--black: #303030;

--serchborder: #dee2e6;

/* N5 Theme */
--text: #DCDCDC;
/*Serchbarinputborder >>> border: 1px solid rgba(220,220,220,1); */
}

delta-head
{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
top: 0;
width: 100%;
height: 48px;
z-index: 1;
position: fixed;
color: var(--texty);
font-size: 1.6em;
background-color: var(--theme);
display: grid;
grid-template-columns: 48px auto 48px;
} delta-head > * {display: flex; align-items: center; justify-content: center;}

delta-foot
{
bottom: 0;
width: 100%;
height: 48px;
z-index: 1;
position: fixed;
color: #DCDCDC;
font-size: 1.6em;
background: #303030;
display: grid;
grid-template-columns: repeat(4, 1fr);
} delta-foot > * {display: flex; align-items: center; justify-content: center;}

#VOSK-SPACER
{
bottom: 48px;
width: 100%;
z-index: 1;
position: fixed;
}

search-bar
{
width: 100%;
display: grid;
/* N5 Theme */
/* padding: 0.5em; */
/* Sky magenta */
padding: 0.5em 48px;
margin-top: 48px;

position: sticky;
top: 0;
z-index: 1;
}

#finder{ border-radius: 0.375rem; border: 1px solid #dee2e6;

background: #FFFFFF;
font: 1rem sans-serif;
font-weight: 400;
margin:  0.5rem;
padding-left: 0.5rem;
justify-content:space-between ;
}
#finder::after {
  content: '☄';
  width: 48px;
  height: 100%;
  border-left: 3px solid #dee2e6;
  display: flex; align-items: center; justify-content: center;}

search-bar input
{
  all: unset;
  width: 100%;
  height: 36px;
  color: #DCDCDC;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0;
  padding-left: 0.5em;
  box-sizing: border-box;
/* N5 Theme */

border-radius: 0.5em;
border: 1px solid rgba(220,220,220,1);

/* Sky magenta */
background: #383838;
/* border-bottom-left-radius: 16px; */
/* border-bottom-right-radius: 16px; */


/* box-shadow: */
    /* 0 0 60px 30px #fff,  inner white */
    /* 0 0 100px 60px #f0f, middle magenta */
    /* 0 0 40px 90px #fff; outer cyan */

}

delta-menu  {
    display: none;
    padding-top: 48px;
    position: sticky;
    top: 0;
    z-index: 1;
    }
    
    delta-menu > * {
    height: 48px;
    width: 100%;
    color: #FFFFFF;
    display: grid;
    font-size: 1.2em;
    grid-template-columns: 48px auto;
    background: #383838;
    }

/* http://svgicons.sparkk.fr/ */

/* ----- SVG Icons ----- #008B8B */

.svg-icon {
    width: 40px;
    height: 40px;
    margin-left: 4px;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #34D399;
  }
  
  .svg-icon circle {
    stroke: #34D399;
    stroke-width: 1;
  }

  DeltaH{
  background-image: url(./file-image.svg);}

