:root {
/* Sky magenta */
--blue: #1e90ff;
--white: #ffffff;
/* N5 Theme */
--text: #DCDCDC;
/* #5F9EA0 */

/* First Palette */
--bluUno: #92a8d1;
--bluDuo: #034f84;
--redUno: #f7cac9;
--redDuo: #f7786b;
--traUno: rgba(255, 255, 255, 0.2);
--traDuo: rgba(0, 0, 0, 0.2);

--HEX: #deeaee;

--HEX: #b1cbbb;

--HEX: #eea29a;

--HEX: #c94c4c;


}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url(./RGBa.jpg); */
  /* background-image: url(./seco.png); */
  /* background-image: url(./coll.png); */
  background-image: url(./mag.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  font-family:/* ============================= */
  system-ui,/* =============================== */
  -apple-system,/* =========================== */
  BlinkMacSystemFont,/* ====================== */
  'Segoe UI',/* ============================== */
  Roboto,/* ================================== */
  Oxygen,/* ================================== */
  Ubuntu,/* ================================== */
  Cantarell,/* =============================== */
  'Open Sans',/* ============================= */
  'Helvetica Neue',/* ======================== */
  sans-serif;/* ============================== */
}

.glass {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.padds {
  padding: 0.5em;
}
.Qfind {
  padding: 0.5em;
  font-size: 1.2em;
  width: 100%;
}
.media {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0.5em;
}

.thumb {
  aspect-ratio: 1/1;
  width: 100%;
}

.detai {
  padding: 0.5em;
}